apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
  namespace: exercises
  labels:
    app: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: log-output-app1
          image: ghcr.io/fazstrac/dwk-log-output-app1:rel-2.3
          imagePullPolicy: Always
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          env:
            - name: COMMON_LOGFILE_NAME
              valueFrom:
                configMapKeyRef:
                  name: log-output-configmap
                  key: common_logfile_name
          volumeMounts:
            - name: shared-volume
              mountPath: /data
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
        - name: log-output-app2
          image: ghcr.io/fazstrac/dwk-log-output-app2:rel-2.3
          imagePullPolicy: Always
          env:
            - name: PONGAPP_SVC_URL
              valueFrom:
                configMapKeyRef:
                  name: log-output-configmap
                  key: pongapp_svc_url
            - name: MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: log-output-configmap
                  key: message
            - name: COMMON_LOGFILE_NAME
              valueFrom:
                configMapKeyRef:
                  name: log-output-configmap
                  key: common_logfile_name
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: shared-volume
              mountPath: /data
            - name: log-output-configmap-volume
              mountPath: /etc/config
              readOnly: true
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: shared-volume
          emptyDir: {}
        - name: log-output-configmap-volume
          configMap:
            name: log-output-configmap
            items:
              - key: message_file
                path: message.txt
