apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: project-pvc
  namespace: project
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  volumeName: dwk-mooc-project-pv
  storageClassName: ""
