<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{.title}}</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h1>{{.title}}</h1>

  <img src="/images/image.jpg" alt="Random Image" width="600"/>

    <form id="todo-form" action="#" onsubmit="return false;" novalidate>
      <input id="todo-input" class="todo-input" type="text" maxlength="140" name="todo" aria-describedby="char-counter" />
      <button id="todo-send" class="todo-btn" type="submit">Create todo</button>
      <span id="char-counter" class="counter">0 / 140</span>
    </form>

    <div class="todo-list-wrap" aria-live="polite">
      <table id="todo-list" class="todos">
        <thead>
          <tr>
            <th>Todo Item</th>
            <th>Created on</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Todo items will be appended here -->
        </tbody>
      </table>
    </div>

  <p>Devops with Kubernetes 2025</p>
  <p><code> Commit ID {{.body}}</code></p>


<script src="/static/frontend.js"></script>
</body>
</html>
